/GameFrame/nbproject/private/
/GameFrame/build/
/GeometryTest/nbproject/private/
/GeometryTest/build/
/ExampleGraphics2D/nbproject/private/
/ExampleGraphics2D/build/
/BubbleHunt/nbproject/private/
/BubbleHunt/build/